<div class='banner'>
  <div class="container">
    <h1>Find My Group!</h1>
    <p>Encontre seus parceiros de RPG</p>
    <%= link_to "Vem jogar!", new_user_session_path, class: "btn btn-flat" %>
  </div>
</div>

</div>

<div class="container">
  <div class="cards">

    <div class="card-trip">
      <%=image_tag("card-1.jpg")%>
        <div class="card-trip-infos">
          <div>
            <h2>Faça Novos Amigos!</h2>
            <p>Conheça pessoas que tem mais a ver com você, 
            não precisa mais falar com várias pessoas aleatórias, aqui você encontra as pessoas certas!</p>
          </div>
        </div>
    </div>

    <div class="card-trip">
      <%=image_tag("card-2.png")%>
        <div class="card-trip-infos">
          <div>
            <h2>Conheça seu Grupo</h2>
            <p>Nosso sistema de afinidade irá criar pra você o Grupo com os 
            jogadores e Mestres perfeitos para você começar a jogar o quanto antes!</p>
          </div>
        </div>
    </div>

    <div class="card-trip">
      <%=image_tag("card-3.jpg")%>
        <div class="card-trip-infos">
          <div>
            <h2>Agora é só se Aventurar</h2>
            <p>Divirta-se com seu grupo aventurando nos mais diversos mundos, 
            criando suas próprias histórias com seus personagens memoráveis!</p>
          </div>
        </div>
    </div>

  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    This app is coded during the end of the World <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
