<div class='banner'>
  <div class="container">
    <h1>Find My Group!</h1>
    <p>Encontre seus parceiros de RPG</p>
    <a class="btn btn-flat" href="#">Vem jogar</a>
  </div>
</div>

</div>

<div class="container">
  <div class="cards">

    <div class="card-trip">
      <%=image_tag("card-1.jpg")%>
        <div class="card-trip-infos">
            <div>
              <h2>Grupo</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet saepe, repellat dolorem repellendus, aliquid itaque. Delectus pariatur neque, blanditiis, quas dolor tenetur officiis impedit est beatae eveniet iste! Sit, blanditiis!</p>
            </div>
        </div>
    </div>

    <div class="card-trip">
      <%=image_tag("card-2.png")%>
        <div class="card-trip-infos">
            <div>
              <h2>Grupo</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet saepe, repellat dolorem repellendus, aliquid itaque. Delectus pariatur neque, blanditiis, quas dolor tenetur officiis impedit est beatae eveniet iste! Sit, blanditiis!</p>
            </div>
        </div>
    </div>

    <div class="card-trip">
      <%=image_tag("card-3.jpg")%>
        <div class="card-trip-infos">
            <div>
              <h2>Grupo</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet saepe, repellat dolorem repellendus, aliquid itaque. Delectus pariatur neque, blanditiis, quas dolor tenetur officiis impedit est beatae eveniet iste! Sit, blanditiis!</p>
            </div>
        </div>
    </div>

  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    This app is coded during the end of the World <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
