<h1>Essas Pessoas gostaram de você!</h1>

<% @profiles.each do |profile| %>
  <% if UserInteraction.all.where(action_user: current_user).where(target_user: profile).length.zero?%>
    <h3><%= link_to profile.nickname, profile_path(profile)%></h3>
    <% if profile.photo.attached? %>
      <%= cl_image_tag profile.photo.key, height: 150, width: 200, crop: :fill %>
    <% end %>
  <%= button_to 'X', { :controller => "user_interactions", :action => "create", user_interaction: { :liked => false, :target_user_id => profile.id } }, :method=>:post, class: "dislike-btn" %>
  <%= button_to 'O', { :controller => "user_interactions", :action => "create", user_interaction: { :liked => true, :target_user_id => profile.id } }, :method=>:post, class: "like-btn" %>
  <%end%>
<%end%>