@import "index";

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $olive-green;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: $dark-green;
  color: white;
}

.btn-action {
  background: #f4f4f4;
  border: solid;
  border-color: #cc5b4d;
  border-radius: 8px;
  width: 112px;
  height: 40px;
  text-align: center;
  border-width: 1px;
  position: absolute;
  top: 617px;
  right: 38px;
  padding-top: 7px;
}

.btn-action a {
  color: black;
}

.btn-action:hover {

}

.btn-action-edit {
  background: #f4f4f4;
  border: solid;
  border-color: #cc5b4d;
  border-radius: 8px;
  width: 112px;
  height: 40px;
  text-align: center;
  border-width: 1px;
  position: absolute;
  top: 617px;
  right: 38px;
  padding-top: 7px;
}

.btn-action-edit a {
  color: black;
}

.btn-action-edit:hover {

}


.dislike-btn {
  height: 45px;
  width: 45px;
  background-color: $wine-color;
  color: $light-gray;
  font-weight: bold;
  border: none;
  border-radius: 100%;
  font-size: 30px;

  &:hover {
    position: relative;
    background-color: $darker-red;
    transition: 0.5s;
    top: 2px;
    right: -2px;
  }

}



.like-btn {
  height: 45px;
  width: 45px;
  background-color: $lighter-green;
  color: $light-gray;
  font-weight: bold;
  border: none;
  border-radius: 100%;
  font-size: 30px;

  &:hover {
    position: relative;
    background-color: $olive-green;
    transition: 0.5s;
    top: 2px;
    right: -2px;
  }

}
