@import "index";

.btn-edit {
  position: relative;
  top: 368px;
  right: 1px;
}

.btn-edit-show {
  position: relative;
  top: 559px;
}

.btn-chat-show {
  position: absolute;
  top: 611px;
  right: 40px;
  padding-top: 7px;
}

.btn-chat-show a {
  color: white;
  background-color: #cc5b4d;
  border-color: black;
}

.btn-edit-show a {
  color: white;
  background-color: #cc5b4d;
  border-color: black;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $olive-green;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: $dark-green;
  color: white;
}

.btn-chat {
  //background: #f4f4f4;
  //border: solid;
  //border-color: #cc5b4d;
  //border-radius: 8px;
  //width: 112px;
  //height: 40px;
  //text-align: center;
  //border-width: 1px;
  position: absolute;
  top: 405px;
  right: 24px;
  padding-top: 7px;
}

.btn-chat a {
  color: white;
  background-color: #cc5b4d;
  border-color: black;
}



.btn-edit a {
  color: white;
  background-color: #cc5b4d;
  border-color: black;
}

.btn-primary:hover {
  background-color: #7c332c;
  border-color: black;

}

.dislike-btn {
  height: 45px;
  width: 45px;
  background-color: $wine-color;
  color: $light-gray;
  font-weight: bold;
  border: none;
  border-radius: 100%;
  font-size: 30px;

  &:hover {
    position: relative;
    background-color: $darker-red;
    transition: 0.5s;
    top: 2px;
    right: -2px;
  }

}



.like-btn {
  height: 45px;
  width: 45px;
  background-color: $lighter-green;
  color: $light-gray;
  font-weight: bold;
  border: none;
  border-radius: 100%;
  font-size: 30px;

  &:hover {
    position: relative;
    background-color: $olive-green;
    transition: 0.5s;
    top: 2px;
    right: -2px;
  }

}
