@import "colors";

.container {
  padding: 0px;
  justify-items: center;
  margin-right: auto;
  margin-left: auto;
}

.cards {
  display: grid;
  //justify-items: center;
  //align-items: center;
  grid-gap: 16px;
  margin-top: 32px;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 450px;
  width: 400px;
  border-radius: 30px;
  text-align: right;
  opacity: 1;
}

.card-trip:hover {
  opacity: 0.8;
}

.card-trip > img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.user-card {
  position: relative;
  width: 250px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  padding: 20px 25px;
  margin: 15px;

  a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color: black;
    padding-bottom: 10px;
  }

  .affinity-score{
    position: absolute;
    width: auto;
    background-color: $olive-green;
    border-radius: 100%;
    height: auto;
    padding: 5px;
    top: 40px;
    right: 5px;
    color: white;
    font-size: 32px;
    text-align: center;
    z-index: 5;
  }

  .picture {

    &:hover {
      opacity: 0.8;
      z-index: 1;
    }
  }

  p{
    height: 56px;
    padding: 10px 0px;
    overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
  }

    .interaction {
      display: flex;
      justify-content: space-between;
    }
}





//-----------------------------------------------------------outras telas ------------------------------------------------------//

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

