@import "colors";

.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.groups {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-gap: 16px;
}

.card-group-show {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 685px;
  width: 360px;
  border-radius: 20px;
  text-align: center;
  opacity: 1;
  position: relative;
  margin-bottom: 16px;
  background: {
     image: asset_url("card_group_bg_v2.jpg");
   }
}

.group-title-show {
  text-align: left;
  margin-top: 23px;
  margin-left: 40px;
}

.group-title-show h1 {
  font-size: 24px;
  font-weight: bold;
  color: white;
  font-family: Roboto;
}

.group-photo-box-show {
  position: absolute;
  top: 61px;
  right: 43px;
}

.box-info-group-show {
  /* padding: 8px; */
  text-align: right;
  position: absolute;
  top: 324px;
}

.box-info-group-show,
h3 {
  font-weight: normal;
  font-size: 24px;
  font-family: sans-serif;
}

.box-info-group-show a {
  color: white;
  font-weight: lighter;
}

.box-info-group-show a:hover {
  //color: gray;
  text-decoration: none;
}
.card-group-show:hover {
  //opacity: 0.8;
}

.card-group-show > img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.card-group-show h2 {
  font-size: 20px;
  font-weight: lighter;
  margin: 0;
  font-family: Roboto;
}

.card-group-show p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
}


.card-group-show .card-group-infos-show {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}


.group-member-show {
  display: flex;
  justify-content: right;
  margin-bottom: 4px;
  margin-left: 8px;
  font-family: Roboto;
}

.group-info-show {
  position: absolute;
    top: 180px;
    left: 10px;
  text-align: left;
}


//-----------------------------------------------------------outras telas ------------------------------------------------------//

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

