/* HEX */
$olive-green: #606c38ff;
$dark-green: #283618ff;
$color3: #f1f2ebff;
$color4: #d8dad3ff;
$brown: #b27937ff;
$light-brown: #864d1bff;

/* HSL */
$olive-green: hsla(74%, 48%, 42%, 1);
$dark-green: hsla(88%, 56%, 21%, 1);
$color3: hsla(69%, 3%, 95%, 1);
$color4: hsla(77%, 3%, 85%, 1);
$brown: hsla(32%, 69%, 70%, 1);
$light-brown: hsla(28%, 80%, 53%, 1);

/* RGB */
$lighter-green: rgb(54, 129, 70);
$wine-color: rgb(200, 0, 0);
$darker-red: rgb(167, 1, 1);
$light-gray: rgb(236, 236, 236);
$olive-green: rgba(96, 108, 56, 1);
$dark-green: rgba(40, 54, 24, 1);
$color3: rgba(241, 242, 235, 1);
$color4: rgba(216, 218, 211, 1);
$brown: rgba(178, 121, 55, 1);
$light-brown: rgba(134, 77, 27, 1);

/* GRADIENT */
$gradient-top: linear-gradient(0deg, #606c38ff, #283618ff, #f1f2ebff, #d8dad3ff, #b27937ff, #864d1bff);
$gradient-right: linear-gradient(90deg, #606c38ff, #283618ff, #f1f2ebff, #d8dad3ff, #b27937ff, #864d1bff);
$gradient-bottom: linear-gradient(180deg, #606c38ff, #283618ff, #f1f2ebff, #d8dad3ff, #b27937ff, #864d1bff);
$gradient-left: linear-gradient(270deg, #606c38ff, #283618ff, #f1f2ebff, #d8dad3ff, #b27937ff, #864d1bff);
$gradient-top-right: linear-gradient(45deg, #606c38ff, #283618ff, #f1f2ebff, #d8dad3ff, #b27937ff, #864d1bff);
$gradient-bottom-right: linear-gradient(135deg, #606c38ff, #283618ff, #f1f2ebff, #d8dad3ff, #b27937ff, #864d1bff);
$gradient-top-left: linear-gradient(225deg, #606c38ff, #283618ff, #f1f2ebff, #d8dad3ff, #b27937ff, #864d1bff);
$gradient-bottom-left: linear-gradient(315deg, #606c38ff, #283618ff, #f1f2ebff, #d8dad3ff, #b27937ff, #864d1bff);
$gradient-radial: radial-gradient(#606c38ff, #283618ff, #f1f2ebff, #d8dad3ff, #b27937ff, #864d1bff);
