.navbar-lewagon {
  justify-content: space-between;
  background: #864d1bff;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.placeholder {
  font-size: 25px;
}

ul .fas {
  line-height: 2;
}

.newicon-avatar {
  position: absolute;
  top: 0px;
  right: 1px;
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 100%;
}

.newicon-menu {
  position: absolute;
  top: 35%;
  right: 25%;
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 100%;
}
