.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.1rem 1rem;
}

.navbar-lewagon {
  justify-content: space-between;
  background: #864d1bff;
  color: lightgray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 40px;
  width: auto;
  margin: 0px;
  background-color: lightgray;
  padding: 2px;
  border-radius: 50px;
}

.placeholder {
  font-size: 25px;
}

ul .fas {
  line-height: 2;
}

.newicon-avatar {
  position: absolute;
  top: 0px;
  right: 1px;
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 100%;
}

.newicon-menu {
  position: absolute;
  top: 35%;
  right: 25%;
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 100%;
}
